<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SHS-STORE</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">SAI HOSPITALITY SERVICES</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Store</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/store/recieve">Recieving</a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link" href="#">Issueing</a>
                  </li>
                  <li class="nav-item">
                    <a href="/store/suppliers" class="nav-link">Suppliers</a>
                  </li>
                </ul>
                
              </div>
            </div>
          </nav>
        <h1>Hello Store Keeper</h1>
          <br> <br>
          <div class="curr-inventory">
            <h1>Current state of inventory </h1>
            {% for k in items  %}
            <dl class="row">
              <dt class="col-3">{{k}}  -- {{items[k]}}</dt>
            </dl>
                 
        {% endfor %}
          </div>
        


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    </body>
</html>